@import "./Shopping-cart";


.form{
    width: 70%;
    margin: $margin-auto;
}

select{
    margin: 10px;
    height: 30px;
}

input{
    height: 22px;
}

button {
    border: none;
    background-color: $button-color;
    width:100px;
    padding:$button-padding;
    color:white;
    cursor: pointer;
    &:hover{
        background-color: rgb(108, 67, 219);
    }
    margin: 0 10px;
}