@import "./Shopping-cart";

table{
    width: 100%;
    margin: $margin-auto;
    border: 1px solid blue;
    border-collapse: collapse;
}

th , tr, td{
    padding : 10px;
}
tr{
    border : 1px solid blue;
    
}

#item{
    padding-left: 20px;
    text-align: left;
    width: 40%;
}
td{
    width: 20%;
    text-align: center;
}
